{% extends "assect_list.html" %}
{% load paging %}
{% block css %}
    .info{
    width: 400px;
    height:300px;
    position: fixed;
    top:50px;
    left:400px;
    right:400px;
    background-color: white;
    }
    .hide{
    display: none;
    }
    .show{
    display: block;
    }
{% endblock %}
{% block hostlist_head %}
    <ul class="nav nav-sidebar">
        <li>
            <a href="{% url "hostlist" %}">主机列表</a>
        </li>
    </ul>
{% endblock %}
{% block hostlist_detail %}{% endblock %}
{% block hostlist %}
    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
    <span class="label label-success">成功</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span>
    <h2 class="sub-header">管理列表</h2>

    <div style="margin: 0 auto;">
        <div class="btn-group" role="group" aria-label="...">
            <a id="check_all" class="btn btn-success" onclick="checkAll();"><i
                    class="fa fa-floppy-o"></i> 全选</a>
            <a id="check_reverse" class="btn btn-info" onclick="reverAll();"><i
                    class="fa fa-minus-square-o"></i> 反选</a>
            <a id="check_cancel" class="btn btn-warning" onclick="clearAll();"><i
                    class="fa fa-minus-square-o"></i> 取消</a>
            <a id="check_add" class="btn btn-primary"><i class="fa fa-plus-circle"></i>添加</a>
            <a id="do_delete" class="btn btn-danger "><i class="fa fa-trash"></i> 删除</a>
            <a id="edit_mode_target" class="btn btn-default no-radius"><i class="fa fa-pencil-square-o"></i>
                <span>进入编辑模式</span></a>
            <a id="do_save" class="btn btn-default no-radius"><i class="fa fa-floppy-o"></i> 保存</a>
            <a id="do_refresh" class="btn btn-default no-radius"><i class="fa fa-refresh"></i> 刷新</a>
            {% if error_msg %}
                <button type="button" class="btn btn-danger">{{ error_msg }}</button>
            {% endif %}
        </div>
        <div class="check_add_header">
            <div class="hide check_add_hide table">
                <form action="hostlist" method="post" class="form-inline">{% csrf_token %}
                    {% for host in hostname_form %}
                        <div class="form-group">
                            <label for="exampleInputName2">{{ host.label }}</label>
                            {{ host }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <select class="form-control" name="source_name">
                            {% for source_key,source_value in source_type_dict.items %}
                                <option value="{{ source_key }}">{{ source_value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="提交" class="btn btn-default" onclick="post_host"/>
                </form>
            </div>
        </div>
        <div id='black' class="one hide"></div>
        <div id="modal_delete" class=" hide alert alert-danger alert-dismissible fade in modal-delete " role="alert">
            <button type="button" class="close" aria-label="Close"><span>×</span>
            </button>
            <h4>确定删除资产？</h4>
            <p>与该资产相关联的网卡、硬盘、内存和日志等将全部被删除！<br> &nbsp;</p>
            <p style="text-align: right">
                <button type="button" class="btn btn-danger" id="do_delete_confirm">确定删除</button>
                <button type="button" class="btn btn-default" id="callback_delete">取消</button>
            </p>
        </div>
        <table class=" table table-bordered table-hover">
            <thead id="salt_tbHead">

            </thead>

            <tbody id="salt_tbBody">
            </tbody>
        </table>
        <div id="page_select">
            <div class="btn-group">
                <button type="button" class="btn btn-danger">分页数</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="page_select_insert" onchange="changePageSize(this)" >
                    <li value="5"><a href=" ">5</a></li>
                    <li value="10"><a href=" " >10</a></li>
                    <li value="20"><a href=" ">20</a></li>
                    <li value="30"><a href=" ">30</a></li>
                </ul>
            </div>
        </div>
        <nav>
            <nav>
                <ul class="pagination">
                    {% if articles.has_previous %}
                        <li class=" "><a href="?page={{ articles.previous_page_number }}" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a></li>
                    {% else %}
                        <li class="disabled "><a href="?" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                    {% endif %}
                    {% for page in articles.paginator.page_range %}
                        {% if articles.number == page %} {# 如果是当前页#}
                            <li class="active"><a href="?page={{ page }}">{{ page }}<span class="sr-only"></span></a>
                            </li>
                        {% else %}
                            {#                      {% redner_paginator_btn articles page%}#}
                            <li class=""><a href="?page={{ page }}">{{ page }}<span class="sr-only"></span></a></li>
                        {% endif %}
                    {% endfor %}
                    {% if articles.next_page_number > 1 %}
                        <li class=""><a href="?page={{ articles.next_page_number }}"><span
                                aria-hidden="true">&raquo;</span></a></li>
                    {% else %}
                        <li class="disabled"><a href="?"><span aria-hidden="true">&raquo;</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </nav>
    </div>
{% endblock %}



